/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header part css start*/
.header-section img {
    width: 100%;
}

.header-sec-text {
    margin-left: 850px;
    width: 500px;
    margin-top: -550px;
}

.header-sec-text h1 {
    font-size: 68px;
    text-align: right;
}

.header-sec-text p {
    text-align: right;
    color: rgb(71, 67, 67);
    font-size: 18px;
    width: 450px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-sec-text button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(160, 15, 148);
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    margin-left: 350px;
}

/* main section start */
.first-main-sec{
    display: flex;
    margin: 250px 200px 80px;
    background-color: aquamarine;
    border-radius: 25px;
}
.first-main-sec-text{
    margin-top: 250px;
    margin-left: 80px;
}
.first-main-sec-text h1{
    font-size: 38px;
    margin-bottom: 25px;
    color: rgb(71, 73, 74);
}
.first-main-sec-text p{
    margin-bottom: 20px;
    width: 65%;
    color: rgb(56, 55, 55);
}
/* my plan section css start */
.plans-section{
    margin: 0 200px;
}
.plans-section > h1{
    text-align: center;
    font-size: 2.5em;
}
.plans-varietion-sec{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}
.plans-varietion-sec h1{
    margin-top: 20px;
}
.plans-varietion-sec p{
    margin-top: 10px;
    font-size: 24px;
    color: gray;
}
/* gradient-section start css */
.gradient-section{
    margin: 100px 200px;
    background-image: url(/images/watch.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    border-radius: 25px 25px 25px 25px;
}
.gradient-section-text{
    margin-left: 45px;
    margin-top: -200px;
}
.gradient-section-text h1{
    font-size: 40px;
    width: 550px;
    color: aliceblue;
    margin-bottom: 10px;
}
.gradient-section-text button{
    width: 150px;
    height: 50px;
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(213, 237, 25);
    
}