/* font style link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header part css start*/
.header-section img {
    width: 100%;
}

.header-sec-text {
    margin-left: 850px;
    width: 500px;
    margin-top: -550px;
}

.header-sec-text h1 {
    font-size: 68px;
    text-align: right;
}

.header-sec-text p {
    text-align: right;
    color: rgb(71, 67, 67);
    font-size: 18px;
    width: 450px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.header-sec-text button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(160, 15, 148);
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    margin-left: 350px;
}

/* main section start */
.first-main-sec{
    display: flex;
    margin: 250px 200px;
    background-color: aquamarine;
    border-radius: 25px;
}
.first-main-sec-text{
    margin-top: 250px;
    margin-left: 80px;
}
.first-main-sec-text h1{
    font-size: 38px;
    margin-bottom: 25px;
    color: rgb(71, 73, 74);
}
.first-main-sec-text p{
    margin-bottom: 20px;
    width: 65%;
    color: rgb(56, 55, 55);
}
/* my plan section css start */
.plans-section{
    
}
